#series-tracker {
    // background-color: rgb(158, 158, 158);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.tracker {
    display: flex;
    justify-content: center;
}
.series {
    height: 400px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 300px;
    transition: .5s ease;
    border-radius: 12px;
    border: 2px solid rgb(171, 171, 171);
    margin: 1rem;
    &.active {
        width: 600px;
    }
    &-front {
        height: 400px;
        position: relative;
        cursor: pointer;
        z-index: 2;
        width: 300px;
        &:hover {
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background-color: rgba($color: #333, $alpha: .2);
                // filter: blur(2px);
            }
            img {
                filter: blur(2px);
            }
            .series-info {
                bottom: 0px;
                z-index: 3;
            }
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
    &-title {
        position: absolute;
        top: 0;
        padding: 10px;
        width: 70%;
        background-color: #2196f3;
        margin-top: 10px;
        // text-align: center;
        border-radius: 0 10px 10px 0;
        z-index: 2;
    }
    &-info {
        position: absolute;
        bottom: -100%;
        color: #333;
        width: 100%;
        // opacity: .5;
        padding: .5rem;
        transition: all .5s ease;
        z-index: 3;
        background-color: #2196f3;
        h2 {
                font-size: clamp(.6rem, 7vw, 1.2rem);
                display: inline;
                margin-right: 10px;
            }
        h3 {
            font-size: clamp(.4rem, 7vw, .8rem);
        }
    }
    &-back {
        width: 300px;
        height: 100%;
        background-color: #1d3548;
        padding: 1rem;
        // transform: translateX(0%);
        position: absolute;
        right: -300px;
        transition: .5s ease-in-out;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-plot {
        background-color: #2196f3;
        padding: 10px;
        width: 100%;
        margin-bottom: 40px;
    }

    &-links {
        display: flex;
        align-items: center;
        justify-content: center;
        // align-self: flex-end;
        margin-bottom: 20px;
        gap: 10px;
        a {
            width: 50%;
            text-align: center;
            text-decoration: none;
            color: black;
            background-color: #2196f3;
            padding: .5rem 1rem;
            // margin: 0 .4rem;
            border-radius: 4px;
            &:hover {
                background-color: #333;
                color: orange;
            }
        }
    }
    &-inputs {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .inputs {
            &-box {
                font-size: 1rem;
                padding: .2em .5rem;
                border: 1px solid white;
                label {
                    color: #2196f3;
                }
                input {
                    width: 40%;
                    padding: .2rem .5rem;
                    align-self: flex-start;
                    border: none;
                    &:focus-visible {
                        border: 1px solid orange;
                    }
                }
            }
        }
    }
    &-buttons {
        display: flex;
        // align-items: center;
        position: relative;
        margin-top: 10px;
        margin-bottom: 30px;
        button {
            // font-size: 2rem;
            background-color: transparent;
            border: none;
            position: relative;
            color: #2196f3;
            cursor: pointer;
            // margin-top: 20px;
            width: 100%;
            &:nth-of-type(3) {
                color: red;
            }
            &:hover {
                    >.tooltip {
                        visibility: visible;
                    }
                    > i {
                        color: #3651ec;
                    }
                }
            i {
                font-size: 2rem;
                transition: .2s ease-in-out;
            }
        }
        .tooltip {
            position: absolute;
            bottom: -30px;
            visibility: hidden;
            padding: .2rem;
            background-color: #333;
            color: white;
            border-radius: 3px;
            font-size: 1rem;
            transition: .2s ease;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
        }
    }
    &-comment {
        input {
            background-color: transparent;
            border: none;
            color: white;
        }

    }
}

// .card {
//     position: relative;
//     width: 300px;
//     height: 350px;
//     margin: 20px;
//     // background: #333;
//     border-radius: 20px;
//     transition: 0.5s;
//     transition-delay: 0s;
//     &:hover {
//         width: 600px;
//         transition-delay: 0;
//         .circle::before {
//             clip-path: circle(400px  at center);
//         }
//         .poster {
//             transform: scale(0);
//             transition-delay: 0s;
//         }
//     }
//     .circle {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         // background-color: #f00;
//         border-radius: 20px;
//         overflow: hidden;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         &::before {
//             content: '';
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background: #333;
//             clip-path: circle(120px at center);
//             transition: 0.5s;
//         }
//         .poster {
//             position: relative;
//             width: 300px;
//             height: auto;
//             object-fit: fill;
//         }
//     }
// }