#search-results {
    display: flex;
    justify-content: center;
    align-items: center;
}
.results {
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    .cards {
        position: relative;
        width: 300px;
        height: 400px;
        background: linear-gradient(#2196f3, #2196f3, 30%, #1d3548 30%, #1d3548);
        margin: 10px;
        border-radius: 20px;
        overflow: hidden;
        display: block;
        cursor: pointer;
        &:hover {
            .imgBox {
                transform: translateY(30px) scale(0.6);
            }
            .content {
                transform: translateY(0)
            }
        }
        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 30px;
            transform: translateY(100%);
            transition: 0.5s;
            .details {
                text-align: center;
                h2 {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                h3 {
                    color: #03a9f4;
                    margin-bottom: 20px;
                }
                p {
                    color: rgb(255, 213, 0);
                }
            }
        }
    }
    .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 3;
        transform-origin: top;
        border-radius: 20px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}