*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

img {
  width: 100%;
  height: 100%;
}

header {
  background-color: #1d3548;
}
header .nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header .nav-title {
  font-size: clamp(1rem, 7vw, 2rem);
  text-transform: uppercase;
  color: white;
}
header .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header .nav-links ul {
  display: inline-block;
}
header .nav-links ul li {
  display: inline-block;
  margin: 0 1rem;
}
header .nav-links ul li a {
  text-decoration: none;
  font-size: clamp(1rem, 8vw, 1.5rem);
  text-transform: uppercase;
  color: white;
}
header .nav-links ul li a.active {
  border-bottom: 2px solid white;
}
header .nav-links .searchBox {
  position: relative;
}
header .nav-links .searchBox input {
  padding: 1.2rem;
  font-size: clamp(1rem, 8vw, 1.5rem);
}
header .nav-links .searchBox i {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: clamp(1rem, 8vw, 1.5rem);
  transform: translateY(-50%);
}

#search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
}

.results {
  position: relative;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.results .cards {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(#2196f3, #2196f3, 30%, #1d3548 30%, #1d3548);
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.results .cards:hover .imgBox {
  transform: translateY(30px) scale(0.6);
}
.results .cards:hover .content {
  transform: translateY(0);
}
.results .cards .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  transform: translateY(100%);
  transition: 0.5s;
}
.results .cards .content .details {
  text-align: center;
}
.results .cards .content .details h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.results .cards .content .details h3 {
  color: #03a9f4;
  margin-bottom: 20px;
}
.results .cards .content .details p {
  color: rgb(255, 213, 0);
}
.results .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 3;
  transform-origin: top;
  border-radius: 20px;
  overflow: hidden;
}
.results .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  place-items: center;
  transition: 0.5s;
}
.modal-wrapper {
  max-width: 800px;
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: rgb(3, 3, 3);
  border-radius: 12px;
  overflow: hidden;
  transition: 0.4s;
}
.modal-left {
  width: auto;
  z-index: 2000;
  height: auto;
}
.modal-right {
  color: white;
  position: relative;
  padding: 40px;
}
.modal-form {
  position: absolute;
  inset: 0;
  transform: translateX(100%);
  transition: 0.6s;
  height: auto;
  background-color: rgb(3, 3, 3);
  width: 100%;
  display: grid;
  place-items: center;
}
.modal-form .form {
  background-color: rgb(3, 3, 3);
  width: 80%;
  height: 100%;
  padding: 40px;
}
.modal-form .form .inputBox {
  position: relative;
  font-size: 1.2rem;
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
}
.modal-form .form .inputBox:nth-child(1) {
  margin-right: 20px;
}
.modal-form .form .inputBox:nth-child(1), .modal-form .form .inputBox:nth-child(2) {
  width: 20%;
  display: inline-block;
  margin-bottom: 10px;
}
.modal-form .form .inputBox input, .modal-form .form .inputBox textarea {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  width: 100%;
  color: whitesmoke;
}
.modal-form .form .inputBox input:focus ~ label, .modal-form .form .inputBox input:valid ~ label {
  top: -200px;
}
.modal-form .form .inputBox textarea {
  resize: none;
}
.modal-form .form .inputBox textarea:valid ~ label {
  left: -200px;
}
.modal-form .form .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 5px;
  transition: 0.5s;
  pointer-events: none;
  font-size: 1rem;
  color: whitesmoke;
}
.modal-form .form .inputBox i {
  width: auto;
  height: 2px;
  display: block;
  border: 0.5px solid orange;
}
.modal .title {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.modal .subtitle {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(201, 199, 199);
}
.modal .rating {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  color: rgb(201, 199, 199);
}
.modal .rating span {
  margin-right: 10px;
}
.modal .rating-votes {
  font-size: 1rem;
}
.modal .plot {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.modal .imdblink {
  margin-bottom: 40px;
}
.modal .imdblink a {
  text-decoration: none;
  color: rgb(255, 179, 0);
  font-size: 0.8rem;
  text-transform: uppercase;
}
.modal .button {
  padding: 10px 20px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid orange;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}
.modal .button:hover {
  z-index: 20;
  color: #333;
}
.modal .button:hover::after {
  z-index: -2;
  right: 0;
}
.modal .button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 200px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background-color: orange;
}

@media (max-width: 599px) {
  .modal-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
  }
  .modal-left {
    width: 300px;
    height: auto;
  }
}
#series-tracker {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.tracker {
  display: flex;
  justify-content: center;
}

.series {
  height: 400px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 300px;
  transition: 0.5s ease;
  border-radius: 12px;
  border: 2px solid rgb(171, 171, 171);
  margin: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.series.active {
  width: 600px;
}
.series-front {
  height: 400px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 300px;
}
.series-front:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(51, 51, 51, 0.2);
}
.series-front:hover img {
  filter: blur(2px);
}
.series-front:hover .series-info {
  bottom: 0px;
  z-index: 3;
}
.series-front img {
  height: 100%;
  width: 100%;
}
.series-title {
  position: absolute;
  top: 0;
  padding: 10px;
  width: 70%;
  background-color: #2196f3;
  margin-top: 10px;
  border-radius: 0 10px 10px 0;
  z-index: 2;
}
.series-info {
  position: absolute;
  bottom: -100%;
  color: #333;
  width: 100%;
  padding: 0.5rem;
  transition: all 0.5s ease;
  z-index: 3;
  background-color: #2196f3;
}
.series-info h2 {
  font-size: clamp(0.6rem, 7vw, 1.2rem);
  display: inline;
  margin-right: 10px;
}
.series-info h3 {
  font-size: clamp(0.4rem, 7vw, 0.8rem);
}
.series-back {
  width: 300px;
  height: 100%;
  background-color: #1d3548;
  padding: 1rem;
  position: absolute;
  right: -300px;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.series-plot {
  background-color: #2196f3;
  padding: 10px;
  width: 100%;
  margin-bottom: 40px;
}
.series-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}
.series-links a {
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #2196f3;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.series-links a:hover {
  background-color: #333;
  color: orange;
}
.series-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.series-inputs .inputs-box {
  font-size: 1rem;
  padding: 0.2em 0.5rem;
  border: 1px solid white;
}
.series-inputs .inputs-box label {
  color: #2196f3;
}
.series-inputs .inputs-box input {
  width: 40%;
  padding: 0.2rem 0.5rem;
  align-self: flex-start;
  border: none;
}
.series-inputs .inputs-box input:focus-visible {
  border: 1px solid orange;
}
.series-buttons {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.series-buttons button {
  background-color: transparent;
  border: none;
  position: relative;
  color: #2196f3;
  cursor: pointer;
  width: 100%;
}
.series-buttons button:nth-of-type(3) {
  color: red;
}
.series-buttons button:hover > .tooltip {
  visibility: visible;
}
.series-buttons button:hover > i {
  color: #3651ec;
}
.series-buttons button i {
  font-size: 2rem;
  transition: 0.2s ease-in-out;
}
.series-buttons .tooltip {
  position: absolute;
  bottom: -30px;
  visibility: hidden;
  padding: 0.2rem;
  background-color: #333;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
  transition: 0.2s ease;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.series-comment input {
  background-color: transparent;
  border: none;
  color: white;
}/*# sourceMappingURL=style.css.map */